@media screen and (min-aspect-ratio: 1/1) {
    /* Horizontal */
    #main {
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 20%;
    }

    #div_settings2 {
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(4, 25%);
    }

    #noconga {
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 20%;
    }

    #map {
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 20%;
    }

    div.battery_top {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    div.battery_body {
        top: 2%;
        height: 5%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 50%;
    }

    img.charging {
        height: 100%;
        top: 0px;
        left: 30%;
        position: absolute;
    }

    div.battery_level {
        background-color: #000;
        height: 100%;
        width: 5%;
    }

    div.battery:after {
        background-color: inherit;
        border: inherit;
        content: "";
        display: block;
        bottom: 25%;
        position: absolute;
        right: -4%;
        top: 25%;
        width: 2%;
    }

    div.buttons {
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 80%;
    }

    img.button {
        width: 100%;
        height: 24%;
    }

    #back {
        grid-row: 1/5;
        grid-column: 5;
    }

    #battery_text_level {
        font-size: 90%;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    /* Vertical */
    #main {
        bottom: 0px;
        height: 20%;
        left: 0px;
        right: 0px;
    }

    #div_settings2 {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(5, 20%);
    }

    #noconga {
        top: 0px;
        bottom: 20%;
        right: 0px;
        left: 0px;
    }

    #map {
        top: 0px;
        bottom: 20%;
        right: 0px;
        left: 0px;
    }

    div.battery_top {
        top: 20%;
        left: 7%;
        width: 4%;
        height: 3%;
        position: relative;
        visibility: visible;
    }

    div.battery_body {
        top: 20%;
        left: 5%;
        width: 8%;
        height: 50%;
        position: relative;
    }

    img.charging {
        width: 100%;
        position: relative;
        top: 20%;
    }

    div.battery_level {
        background-color: #000;
        height: 55%;
        width: 100%;
        bottom: 0%;
        position: absolute;
    }

    div.battery:after {
        visibility: hidden;
    }

    div.buttons {
        left: 20%;
        top: 10%;
        width: 70%;
        height: 80%;
        position: absolute;
    }

    img.button {
        height: 100%;
        width: 16%;
        padding-left: 4%;
        padding-right: 4%;
        border: 0px;
        margin: 0px;
    }

    #back {
        grid-row: 5;
        grid-column: 1/5;
    }

    #battery_text_level {
        font-size: 40%;
    }
}

#main {
    position: absolute;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #663399;
    visibility: visible;
}

html * {
    cursor: none;
}

body {
    font-size: 25px;
    width: 100%;
    cursor: none;
}

#noconga {
    position: absolute;
    margin: 0px;
    border: 0px;
    padding: 0px;
    z-index: 10;
}

#map {
    position: absolute;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #ffffff;
    z-index: 8;
}

#mapcanvas {
    touch-action: none;
}

#goForward {
    grid-row: 1;
    grid-column: 2;
}

#goLeft {
    grid-row: 2;
    grid-column: 1;
}

#goRight {
    grid-row: 2;
    grid-column: 3;
}

#goBack {
    grid-row: 3;
    grid-column: 2;
}

div.buttons {
    font-size: 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

#nocongapic {
    width: 100%;
    height: 100%;
}

#div_settings {
    position: absolute;
    margin: 0px;
    border: 0px;
    padding: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9;
}

#div_settings2 {
    display: grid;
    place-items: center;
    position: absolute;
    margin: 0px;
    border: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffffcf;
}

span.settings_button {
    background-color: #ffffff;
}

#div_settings2 > span > img {
    margin: 4px;
    border-width: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

#div_settings2 > span {
    margin: 0px;
    padding: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

span.powerwater_active {
    background-color: #00ffff;
}


div.battery_common {
    background-color: #fff;
    border: 2px solid #000;
}

#battery_text_level {
    color: #ffffff;
}

#radar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10%;
    height: 10%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    z-index: 40;
}

#pic_radar {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
